body {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.7;
    overflow-x: hidden;
    margin: 50px;
    content: justify;

}
h1{
    color: #222;
    margin-bottom: 15px;
}
h2 {
    color: #96e307;
    margin-bottom: 12px;
} 
h3, h4, h5, h6 {
    color: #555555;
    margin-bottom: 10px;
}
a {
    color: #1704eb;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}
p {
    margin-bottom: 15px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fbf9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Keeps layout responsive */
    gap: 20px;
}
button {
    background-color: #1704eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0b02a8;
}
.home-section {
    background-color: #d1e7dd;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.about-section {
    background-color: #e2e2e2;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.image {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}
.image-container {
  flex: 1 1 300px; /* Image column */
  text-align: left;
}
.container-text {
  flex: 1 1 400px; /* Text column */
  text-align: left;
}

.nav {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;


}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.nav ul li {
    margin: 0 10px;
}
.nav ul li a {
    color: #1704eb;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav ul li a:hover {
    text-decoration: underline;
}
.nav ul li a i {
    font-size: 18px;
    color: #1704eb;
}
.nav ul li a span {
    font-size: 16px;
}

.gallery{
    background-color: #e2e2e2;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.gallery-container .gallery-item {
    flex: 1 1 300px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.gallery-container .gallery-item img {
    max-width:30%;
    height:min-content;
    border-radius: 5px;
    flex-wrap: wrap;
    flex: 1 1 100px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #d1e7dd;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}
